{% block content %}


<form action="addTrip" method="post">{% csrf_token %}
  {{ form.as_p }}
    <div id="sedanDiv"></div>
    <div id="mpvDiv"></div>
    <div id="luxuryDiv"></div>
    <div id="busDiv"></div>
    <div id="miniDiv"></div>
    <div id="coachDiv"></div>
    <div id="oneTonDiv"></div>
    <div id="threeTonDiv"></div>
    <div id="fiveTonDiv"></div>

   <input type="submit" value="Add New" />
</form>
<form action="addVehicle" method="get">
    <input type="submit" value="Next" />{% csrf_token %}
</form>
{% endblock %}


<script type="text/javascript">
function handleCarSelection(choice) {
    document.getElementById('id_noOfCars').disabled=false;
    var theSedanDiv=document.getElementById('sedanDiv');
    var theMpvDiv=document.getElementById('mpvDiv');
    var theLuxuryDiv=document.getElementById('luxuryDiv');
    if (choice!=0) {
        var sedanExtras=document.createElement('div');
        var mpvExtras=document.createElement('div');
        var LuxuryExtras=document.createElement('div');
        document.getElementById('sedanDiv').innerHTML="";
        document.getElementById('mpvDiv').innerHTML="";
        document.getElementById('luxuryDiv').innerHTML="";
        sedanExtras.innerHTML='No of Sedan Cars: <select id="sedanAmt" name="sedanAmt"><option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select>'
        mpvExtras.innerHTML='No of Mpv Cars: <select id="mpvAmt" name="mpvAmt"><option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select>'
        LuxuryExtras.innerHTML='No of Luxury Cars: <select id="luxuryAmt" name="luxuryAmt"><option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select>'
        theSedanDiv.appendChild(sedanExtras);
        theMpvDiv.appendChild(mpvExtras);
        theLuxuryDiv.appendChild(LuxuryExtras);
    }
    if (choice==0){
        document.getElementById('sedanDiv').innerHTML="";
        document.getElementById('mpvDiv').innerHTML="";
        document.getElementById('luxuryDiv').innerHTML="";
    }
}
</script>

<script type="text/javascript">
function handleBusSelection(choice) {
    document.getElementById('id_noOfBuses').disabled=false;
    var theBusDiv=document.getElementById('busDiv');
    var theMiniDiv=document.getElementById('miniDiv');
    var theCoachDiv=document.getElementById('coachDiv');
    if (choice!=0) {
        var busExtras=document.createElement('div');
        var miniExtras=document.createElement('div');
        var coachExtras=document.createElement('div');
        document.getElementById('busDiv').innerHTML="";
        document.getElementById('miniDiv').innerHTML="";
        document.getElementById('coachDiv').innerHTML="";
        busExtras.innerHTML='No of Regular Buses: <select id="busAmt" name="busAmt"><option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select>'
        miniExtras.innerHTML='No of Mini Buses: <select id="miniAmt" name="miniAmt"><option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select>'
        coachExtras.innerHTML='No of Coach Buses: <select id="coachAmt" name="coachAmt"><option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select>'
        theBusDiv.appendChild(busExtras);
        theMiniDiv.appendChild(miniExtras);
        theCoachDiv.appendChild(coachExtras);
    }
    if (choice==0){
        document.getElementById('busDiv').innerHTML="";
        document.getElementById('miniDiv').innerHTML="";
        document.getElementById('coachDiv').innerHTML="";
    }
}
</script>

<script type="text/javascript">
function handleLorrySelection(choice) {
    document.getElementById('id_noOfLorries').disabled=false;
    var theOneTonDiv=document.getElementById('oneTonDiv');
    var theThreeTonDiv=document.getElementById('threeTonDiv');
    var theFiveTonDiv=document.getElementById('fiveTonDiv');
    if (choice!=0) {
        var oneTonExtras=document.createElement('div');
        var threeTonExtras=document.createElement('div');
        var fiveTonExtras=document.createElement('div');
        document.getElementById('oneTonDiv').innerHTML="";
        document.getElementById('threeTonDiv').innerHTML="";
        document.getElementById('fiveTonDiv').innerHTML="";
        oneTonExtras.innerHTML='No of 1-ton Lorries: <select id="oneTonAmt" name="oneTonAmt"><option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select>'
        threeTonExtras.innerHTML='No of 3-ton Lorries: <select id="threeTonAmt" name="threeTonAmt"><option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select>'
        fiveTonExtras.innerHTML='No of 5-ton Lorries: <select id="fiveTonAmt" name="fiveTonAmt"><option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select>'
        theOneTonDiv.appendChild(oneTonExtras);
        theThreeTonDiv.appendChild(threeTonExtras);
        theFiveTonDiv.appendChild(fiveTonExtras);
    }
    if (choice==0){
        document.getElementById('oneTonDiv').innerHTML="";
        document.getElementById('threeTonDiv').innerHTML="";
        document.getElementById('fiveTonDiv').innerHTML="";
    }
}
</script>


