<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<table>
    <tr>
        <td width="150">Trip ID</td>
        <td width="150">Start Time</td>
        <td width="150">End Time</td>
        <td width="150">Start Location</td>
        <td width="150">End Location</td>
        <td width="150">Comments</td>
        <td width="150">Job ID</td>
        <td width="150">Customer ID</td>
        <td width="150">Actions</td>
    </tr>
    {% for trip in listOfTrips %}
        <tr>
        {% for attribute in trip %}
            <td width="150">{{ attribute }}</td>
        {% endfor %}
        <td width="150">
            <a href="/customer/viewTrip/e_id={{ trip.0 }}&&c_id={{ trip.7 }}">Edit</a> &nbsp &nbsp
            <a href="/customer/viewTrip/d_id={{ trip.0 }}">Delete</a>
        </td>

        </tr>
    {% endfor %}
</table>
</body>
</html>