{% block content %}
<form action="" method="post">
    <h3>Add a new Vehicle</h3>
    Type of Vehicle:
    <select id="select" name="vehType" onChange="handleSelection(value)">
    <option selected>Please select one </option>
    <option value="c">Car</option>
    <option value="b">Bus</option>
    <option value="l">Lorry</option>
    </select>
    {{ form.as_p }}
    <div id="div1"></div>
    <br>
    <input type="submit" value="Add New" />
</form>
{% if status == 'normal' %}
    <input type="submit" value="Finish"
    onclick="window.location='/admin/viewCompany';" />
{% elif status == 'redirect' %}
    <input type="submit" value="Finish"
    onclick="window.location='/admin/viewVehicle/id={{ coyId }}';" />
{% endif %}
{% endblock %}



















<script type="text/javascript">
function handleSelection(choice) {
    document.getElementById('select').disabled=false;
    var thediv=document.getElementById('div1');
    if (choice=="c") {
        var extras=document.createElement('div');
        document.getElementById('div1').innerHTML="";
        extras.innerHTML='{{ cform.as_p }}'
        thediv.appendChild(extras);
    }
    if (choice=="b"){
        var extras=document.createElement('div');
        document.getElementById('div1').innerHTML="";
        extras.innerHTML='{{ bform.as_p }}'
        thediv.appendChild(extras);
    }
    if (choice=="l") {
        var extras=document.createElement('div');
        document.getElementById('div1').innerHTML="";
        extras.innerHTML='{{ lform.as_p }}'
        thediv.appendChild(extras);
    }
}
</script>