{% block content %}
{% if carStatus == True %}
<h3>Cars</h3>
<table>
    <tr>
        <td width="150">Carplate No</td>
        <td width="150">iuNo</td>
        <td width="150">Manufacturer</td>
        <td width="150">Model</td>
        <td width="150">Capacity</td>
        <td width="150">Transmission Type</td>
        <td width="150">Category</td>
    </tr>
    {% for car in cars %}
        <tr>
        {% for attribute in car %}
            <td width="150">{{ attribute }}</td>
        {% endfor %}
        {% for attribute in car %}
            {% if forloop.counter == 1 %}
                <td width="150"><a href="/admin/deleteVehicle/v_id={{ attribute }}">Delete</a></td>
            {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
</table>
<br>
{% endif %}

{% if busStatus == True %}
<h3>Buses</h3>
<table>
    <tr>
        <td width="150">Carplate No</td>
        <td width="150">iuNo</td>
        <td width="150">Manufacturer</td>
        <td width="150">Model</td>
        <td width="150">Capacity</td>
        <td width="150">Transmission Type</td>
        <td width="150">Category</td>
    </tr>
    {% for bus in buses %}
        <tr>
        {% for attribute in bus %}
            <td width="150">{{ attribute }}</td>
        {% endfor %}
        {% for attribute in bus %}
            {% if forloop.counter == 1 %}
                <td width="150"><a href="/admin/deleteVehicle/v_id={{ attribute }}">Delete</a></td>
            {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
</table>
<br>
{% endif %}

{% if lorryStatus == True %}
<h3>Lorries</h3>
<table>
    <tr>
        <td width="150">Carplate No</td>
        <td width="150">iuNo</td>
        <td width="150">Manufacturer</td>
        <td width="150">Model</td>
        <td width="150">Capacity</td>
        <td width="150">Transmission Type</td>
        <td width="150">Tons</td>
    </tr>
    {% for lorry in lorries %}
        <tr>
        {% for attribute in lorry %}
            <td width="150">{{ attribute }}</td>
        {% endfor %}
        {% for attribute in lorry %}
            {% if forloop.counter == 1 %}
                <td width="150"><a href="/admin/deleteVehicle/v_id={{ attribute }}">Delete</a></td>
            {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
</table>
<br>
{% endif %}

<a href="/admin/addVehicle/id={{ coyId }}">Add a new Vehicle</a>
<br>
<a href="/admin/viewCompany">Back</a>
{% endblock %}