<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Analytics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/home">VBMS</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    {% if request.user.is_superuser == True %}<li><a href="/admin/addCompany">Register Company</a></li>{% endif %}
                    {% if request.user.is_superuser == True %}<li><a href="/admin/viewCompany">View Company</a></li>{% endif %}
                    {% if request.user.is_superuser == True %}<li><a href="/admin/viewJobs">View Jobs</a></li>{% endif %}
                    {% if request.user.is_superuser == False %}<li><a href="/customer/addJob">Add Job</a></li>{% endif %}
                    {% if request.user.is_superuser == True %}<li class="active"><a href="/analysis">Analytics</a></li>{% endif %}
                </ul>
                <form class="navbar-form pull-right">
                    <ul class="nav">
                        {% if request.user.is_superuser == True %}<li><a href="/user/addAdmin">Add Manager</a></li>{% endif %}
                        {% if request.user.is_superuser == False %}<li><a href="/customer/viewJobs">View Job</a></li>{% endif %}
                        {% if request.user.is_superuser == False %}<li><a href="/user">View Profile</a></li>{% endif %}
                        <a class="brand" href="/logout">Logout</a>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="hero-unit">
        <legend><strong>Choose one of the following</strong></legend>
        <div class="control-group">
            <small>
                <ol>
                    <li>
                        <form action="/analysis/2" method="post">
                            <button class="btn btn-small btn-info" type="submit">Go!</button>
                            &nbspList of companies with no jobs in the last {{ coyJobless.qty }} {{ coyJobless.period }}
                        </form>
                    </li>
                    <li>
                        <form action="/analysis/4" method="post">
                            <button class="btn btn-small btn-info" type="submit">Go!</button>
                            &nbspPercentage of customer attained by each company sorted by {{ custDist.order }} order
                        </form>
                    </li>
                    <li>
                        <form action="/analysis/1" method="post">
                            <button class="btn btn-small btn-info" type="submit">Go!</button>
                            &nbspAll trips from {{ allTripCond.startLocation }} to {{ allTripCond.endLocation }} within the last {{ allTripCond.qty }} {{ allTripCond.period }}
                        </form>
                    </li>
                    <li>
                        <form action="/analysis/3" method="post">
                            <button class="btn btn-small btn-info" type="submit">Go!</button>
                            &nbspTotal number of jobs & amount earned by all companies sorted by {{ numJobNAmt.order }} amount within the last {{ numJobNAmt.qty }} {{ numJobNAmt.period }}
                        </form>
                    </li>
                </ol>
            </small>
        </div>
    </div>
    <hr>

    <footer>
        <p>&copy; VBMS</p>
    </footer>

</div> <!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/bootstrap/js/jquery.js"></script>
<script src="/static/bootstrap/js/bootstrap.js"></script>
</body>
</html>