<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>VBMS Analytics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/home">VBMS</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    {% if request.user.is_superuser == True %}<li><a href="/admin/addCompany">Register Company</a></li>{% endif %}
                    {% if request.user.is_superuser == True %}<li><a href="/admin/viewCompany">View Company</a></li>{% endif %}
                    {% if request.user.is_superuser == False %}<li><a href="/customer/addJob">Add Job</a></li>{% endif %}
                    {% if request.user.is_superuser == True %}<li class="active"><a href="/analysis">Analytics</a></li>{% endif %}
                </ul>
                <form class="navbar-form pull-right">
                    <ul class="nav">
                        {% if request.user.is_superuser == True %}<li><a href="/user/addAdmin">Add Admin</a></li>{% endif %}
                        {% if request.user.is_superuser == False %}<li><a href="/customer/viewJobs">View Job</a></li>{% endif %}
                        {% if request.user.is_superuser == False %}<li><a href="/user">View Profile</a></li>{% endif %}
                        <a class="brand" href="/logout">Logout</a>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="hero-unit">
        <legend><strong>
            {% if period == "a" %}
                All trips from {{ startLoc }} to {{ endLoc }}
            {% else %}
                All trips from {{ startLoc }} to {{ endLoc }} within the last {{ qty }} {% if period == "m" %} month {% else %} year {% endif %}
            {% endif %}
        </strong></legend>
        {% if tripInfo|length > 0 %}
            <small><strong>Total number of trips: {{ tripInfo|length }}</strong><br><br></small>
            <div class="control-group">
                <table class="table table-condensed table-hover table-striped table-bordered">
                    <tr>
                        <th style="text-align: center">Coy ID</th>
                        <th style="text-align: center">Company Name</th>
                        <th style="text-align: center">Job ID</th>
                        <th style="text-align: center">Trip ID</th>
                        <th style="text-align: center">Source</th>
                        <th style="text-align: center">Destination</th>
                        <th style="text-align: center">Start Time</th>
                        <th style="text-align: center">End Time</th>
                        <th style="text-align: center">Customer</th>
                    </tr>
                    {% for trip in tripInfo %}
                        <tr>
                            <td style="text-align: center"><a href="/viewCompanyProfile/id={{ trip.0 }}">{{ trip.0 }}</a>
                            <td style="text-align: center">{{ trip.1 }}</td>
                            <td style="text-align: center"><a href="/customer/viewJobs/j_id={{ trip.2 }}">{{ trip.2 }}</a>
                            <td style="text-align: center">{{ trip.3 }}</td>
                            <td style="text-align: center">{{ trip.4 }}</td>
                            <td style="text-align: center">{{ trip.5 }}</td>
                            <td style="text-align: center">{{ trip.6|date:"d M y, Hi" }}</td>
                            <td style="text-align: center">{{ trip.7|date:"d M y, Hi" }}</td>
                            <td style="text-align: center"><a href="/user/id={{ trip.9 }}">{{ trip.8 }}</a>
                        </tr>
                    {% endfor %}
                </table>
                </table>
            </div>
        {% else %}
            <small>No trips are found in the system...</small>
        {% endif %}
    </div>
    <hr>

    <footer>
        <p>&copy; VBMS</p>
    </footer>

</div> <!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/bootstrap/js/jquery.js"></script>
<script src="/static/bootstrap/js/bootstrap.js"></script>
</body>
</html>