<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Analytics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/home">VBMS</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    {% if request.user.is_superuser == True %}<li><a href="/admin/addCompany">Register Company</a></li>{% endif %}
                    {% if request.user.is_superuser == True %}<li><a href="/admin/viewCompany">View Company</a></li>{% endif %}
                    {% if request.user.is_superuser == True %}<li><a href="/admin/viewJobs">View Jobs</a></li>{% endif %}
                    {% if request.user.is_superuser == False %}<li><a href="/customer/addJob">Add Job</a></li>{% endif %}
                    {% if request.user.is_superuser == True %}<li class="active"><a href="/analysis">Analytics</a></li>{% endif %}
                </ul>
                <form class="navbar-form pull-right">
                    <ul class="nav">
                        {% if request.user.is_superuser == True %}<li><a href="/user/addAdmin">Add Manager</a></li>{% endif %}
                        {% if request.user.is_superuser == False %}<li><a href="/customer/viewJobs">View Job</a></li>{% endif %}
                        {% if request.user.is_superuser == False %}<li><a href="/user">View Profile</a></li>{% endif %}
                        <a class="brand" href="/logout">Logout</a>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="hero-unit">
        <legend><strong>
            {% if period == "a" %}
                List of companies with no jobs in the past
            {% else %}
                List of companies with no jobs in the last {{ qty }} {% if period == "m" %} month {% else %} year {% endif %}
            {% endif %}
        </strong></legend>
        <div class="control-group">
            <table class="table table-condensed table-hover table-striped table-bordered">
                <tr>
                    <th style="text-align: center">Company ID</th>
                    <th style="text-align: center">Company Name</th>
                    <th style="text-align: center">Actions</th>
                </tr>
                {% for job in joblessCoy %}
                    <tr>
                        {% for attribute in job %}
                            <td style="text-align: center">{{ attribute }}</td>
                        {% endfor %}
                        <td style="text-align: center"><a href="/viewCompanyProfile/id={{ job.0 }}"><img src="/static/images/search-icon.png" alt="view"></a>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <hr>

    <footer>
        <p>&copy; VBMS</p>
    </footer>

</div> <!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/bootstrap/js/jquery.js"></script>
<script src="/static/bootstrap/js/bootstrap.js"></script>
</body>
</html>